{{!-- Це файл з кодом, який виводиться якщо в нас є помилка --}}
<div>
  {{!-- ↓ ця конструкція виводить зміну message, яку нам бек-енд передає, колу в нас вилазить помилка --}}
  <h1>ERROR: Ти криворуке хуйло!</h1>
</div>