<nav>
    {{> linc text="Skills" href="/skills" line=true }}
    {{> linc text="Summary" href="/summary" line=true }}
    {{> linc text="Education" href="/education" line=true }}
    {{> linc text="Work" href="/work" line=true noLine=true }}
</nav>